#=============================================================================
# container environment
#=============================================================================

# sets the UID and GID of files created in supporting containers
#PUID=1000
#PGID=1000

# timezone to use in supporting containers
#TZ=Europe/London

#=============================================================================
# port mapping
#=============================================================================

#HTTP_PORT=8080
#HTTPS_PORT=8443
#PLEX_PORT=32400

#=============================================================================
# container volumes
#=============================================================================

# uncomment to add additional volumes in containers,
# required if symlinks are used within ./media
#EXTRA_DATA_VOL_0=
#EXTRA_DATA_VOL_1=
#EXTRA_DATA_VOL_2=
#EXTRA_DATA_VOL_3=
#EXTRA_DATA_VOL_4=
#EXTRA_DATA_VOL_5=

#=============================================================================
# traefik / letsencrypt
#=============================================================================

# cloudflare email address
CF_API_EMAIL=

# cloudflare api token
CF_API_KEY=

# the top-level domain used for letsencrypt certificates
HTTP_HOST=

# override the http -> https redirect port, this is useful if you access traefik
# from a wan address and have configured port forwarding on your router to send
# traffic to the traefik host, defaults to HTTPS_PORT
#HTTPS_REDIRECT_PORT=443

# email address passed to Let's Encrypt so that they can warn about expiring
# certificates and allow account recovery, defaults to CF_API_EMAIL
#LETSENCRYPT_EMAIL=

# htpasswd string for accessing internal dashboard (comma separated)
# defaults to no authentication if not set
#TRAEFIK_API_BASIC_AUTH_USERS='admin:$2y$05$mHw3zw1oXbgwHrHTIVQn2uHkPlyirynsXNSHPn8GUWEzoDT2QESnu'

# uncomment to enable traefik dashboard
#TRAEFIK_API_ENABLE=true

#=============================================================================
# authentik
#=============================================================================

# secret key used for cookie signing and unique user ids, don't change this after the first install
AUTHENTIK_SECRET_KEY=changeme

# postgresql password, don't change this after the first install
AUTHENTIK_POSTGRESQL_PASSWORD=changeme

# smtp configuration (https://goauthentik.io/docs/installation/configuration#authentik_email)
AUTHENTIK_EMAIL_HOST=localhost
AUTHENTIK_EMAIL_PORT=25
AUTHENTIK_EMAIL_FROM=
AUTHENTIK_EMAIL_USERNAME=
AUTHENTIK_EMAIL_PASSWORD=
AUTHENTIK_EMAIL_TIMEOUT=10
AUTHENTIK_EMAIL_USE_SSL=false
AUTHENTIK_EMAIL_USE_TLS=false

#=============================================================================
# plex
#=============================================================================

# uncomment to use the nvidia container runtime
#PLEX_RUNTIME=nvidia

#=============================================================================
# portainer
#=============================================================================

# uncomment to use portainer enterprise edition
#PORTAINER_IMAGE=portainer/portainer-ee

#=============================================================================
# private internet access
#=============================================================================

# openvpn credentials (username and password)
OPENVPN_USERNAME=
OPENVPN_PASSWORD=

# vpn server
SERVER_REGIONS='UK London'
